body{
    font-family: sans-serif;
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    min-width: 400px;
    background-color: #dfe6e9;
    text-align: center;
}

input{
    text-align: left;
    margin-right: 10rem;
}

.text-font{
    font-family: sans-serif;
}

.heading {
    text-align: center;
    font-size: 2em;
    color: #2d3436;
    margin: 20px 0 30px;
  }
.card {
  border-radius: 25px;
  position: relative;
  padding: 25px 15px;
  background-color: #81ecec;
  margin: 50px 0;
  height: 200px;
  box-shadow: 0 2px 5px #ccc;
  text-align: left;
}

.top {
    border-radius: 25px 25px 0 0;
    height: 100px;
    width: 100%;
    background-color: #00cec9;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}

.name {
    font-size: 2em;
    color: #2d3436;
    display: flex;
    flex: 1;
    margin: 10% 20px 0;
}

.card img {
    margin: 30px 20px 0 0;
}

.circle-img {
    border-radius: 50%;
    border: 7px solid #fff;
    width: 120px;
    height: 120px;
}

.circle-img:hover {
    border-radius: 50%;
    border: 7px solid rgb(8, 248, 248);
    width: 120px;
    height: 120px;
}

.bottom {
    margin-top: 120px;
}

.info {
    margin: 20px 0;
    color: #1a7e76;
}

.main-button{
    padding: 6px 16px;
    border-radius: 16%;
    font-size: 20px;
    color: #fff;
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}